<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
        </title>
    </head>
    <body>
        <main>
            <div>
                <h1>{{ todo_detail.name }}</h1>
                <p>
                    <a href="{% url 'todo_list_update' todo_detail.id %}">Edit</a>
                    <a href="{% url 'todo_list_delete' todo_detail.id %}">Delete</a>
                </p>
                <h2>Tasks</h2>
                <table>
                    <thead>
                        <tr>
                            <td>Task</td>
                            <td>Due Date</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in todo_detail.items.all %}
                        <tr>
                            <td>
                                <a href="{% url 'todo_item_update' todo_detail.id %}">{{ item.task }}</a>
                            </td>
                            <td>
                                {{ item.due_date|date:"M d, Y" }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
        <footer>
        </footer>
    </body>
</html>
