<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
        </title>
    </head>
    <body>
        <main>
            <div>
                <h1>My Lists</h1>
                <p>
                    <a href="{% url 'todo_list_create' %}">Create a new List</a>
                </p>
                <p>
                    <a href="{% url 'todo_item_create' %}">Create a new Item</a>
                </p>
                <table>
                    <thead>
                        <tr>
                            <td>Name</td>
                            <td>Number of Items</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for todos in todo_list %}
                        <tr>
                            <td>
                                <a href="{% url 'todo_list_detail' todos.id %}">{{ todos.name }}</a>
                            </td>
                            <td>
                                {{ todo_list|length }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
        <footer>
        </footer>
    </body>
</html>
